ADF-AB-01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-AB-01"
		},
		"ab_monstersqlservera_MonsterData_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ab_monstersqlservera_MonsterData_ls'"
		},
		"vipdataset_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'vipdataset_ls'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0,
							"cleanup": true
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab-selfhosted-ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/irVIP')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_monstersqlservera_MonsterData_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ab_monstersqlservera_MonsterData_ls_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vipdataset_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('vipdataset_ls_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bottlers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Bottler ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Bottler",
						"type": "nvarchar"
					},
					{
						"name": "Distributor ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Distribution Center",
						"type": "nvarchar"
					},
					{
						"name": "BUVP",
						"type": "nvarchar"
					},
					{
						"name": "Director",
						"type": "nvarchar"
					},
					{
						"name": "RM",
						"type": "nvarchar"
					},
					{
						"name": "Division",
						"type": "nvarchar"
					},
					{
						"name": "Territory",
						"type": "nvarchar"
					},
					{
						"name": "Business Unit",
						"type": "nvarchar"
					},
					{
						"name": "M11",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Bottlers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_bottlers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Bottler ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Bottler",
						"type": "nvarchar"
					},
					{
						"name": "Distributor ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Distribution Center",
						"type": "nvarchar"
					},
					{
						"name": "BUVP",
						"type": "nvarchar"
					},
					{
						"name": "Director",
						"type": "nvarchar"
					},
					{
						"name": "RM",
						"type": "nvarchar"
					},
					{
						"name": "Division",
						"type": "nvarchar"
					},
					{
						"name": "Territory",
						"type": "nvarchar"
					},
					{
						"name": "Business Unit",
						"type": "nvarchar"
					},
					{
						"name": "M11",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Bottlers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_callpoints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Callpoint ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Regional Callpoint",
						"type": "nvarchar"
					},
					{
						"name": "National Callpoint",
						"type": "nvarchar"
					},
					{
						"name": "Callpoint Type",
						"type": "nvarchar"
					},
					{
						"name": "Account Manager",
						"type": "nvarchar"
					},
					{
						"name": "Account Director",
						"type": "nvarchar"
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "VP",
						"type": "nvarchar"
					},
					{
						"name": "Format",
						"type": "nvarchar"
					},
					{
						"name": "AM Email",
						"type": "nvarchar"
					},
					{
						"name": "Subchannel",
						"type": "nvarchar"
					},
					{
						"name": "CCO",
						"type": "nvarchar"
					},
					{
						"name": "CMM",
						"type": "nvarchar"
					},
					{
						"name": "Pricing Rep",
						"type": "nvarchar"
					},
					{
						"name": "Data Rep",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Callpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_cleansedaccounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "VIPID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Account Name",
						"type": "nvarchar"
					},
					{
						"name": "Legal Name",
						"type": "nvarchar"
					},
					{
						"name": "Street Address",
						"type": "nvarchar"
					},
					{
						"name": "Address Line 2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Zip",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "FIPS",
						"type": "nvarchar"
					},
					{
						"name": "MSA",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "MaltBev",
						"type": "nvarchar"
					},
					{
						"name": "WineBev",
						"type": "nvarchar"
					},
					{
						"name": "SpritsBev",
						"type": "nvarchar"
					},
					{
						"name": "Class of Trade",
						"type": "nvarchar"
					},
					{
						"name": "Sub Class of Trade",
						"type": "nvarchar"
					},
					{
						"name": "Lat",
						"type": "nvarchar"
					},
					{
						"name": "Lon",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "StoreID",
						"type": "nvarchar"
					},
					{
						"name": "StoreStatus",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Cleansed Accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "Year Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "Quarter Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Quarter",
						"type": "nvarchar"
					},
					{
						"name": "Month Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "Week Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Weekday Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Weekday",
						"type": "nvarchar"
					},
					{
						"name": "Day Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Day",
						"type": "nvarchar"
					},
					{
						"name": "Year Month Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year Month",
						"type": "nvarchar"
					},
					{
						"name": "Year Quarter Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year Quarter",
						"type": "nvarchar"
					},
					{
						"name": "IsPast",
						"type": "bit"
					},
					{
						"name": "Last Complete Day of Sales",
						"type": "bit"
					},
					{
						"name": "IsPast2018",
						"type": "bit"
					},
					{
						"name": "Is Weekday",
						"type": "bit"
					},
					{
						"name": "Date diff LCD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Week Ending",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "Month Ending",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Date"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Item Name",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Package Size",
						"type": "nvarchar"
					},
					{
						"name": "Brand Group",
						"type": "nvarchar"
					},
					{
						"name": "Brand Category",
						"type": "nvarchar"
					},
					{
						"name": "Package Group",
						"type": "nvarchar"
					},
					{
						"name": "Distributor Item Code",
						"type": "nvarchar"
					},
					{
						"name": "Distributor Description",
						"type": "nvarchar"
					},
					{
						"name": "ItemStatus",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Cat5",
						"type": "nvarchar"
					},
					{
						"name": "ProfitCenter",
						"type": "nvarchar"
					},
					{
						"name": "Active",
						"type": "nvarchar"
					},
					{
						"name": "Bottler Front Line Price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Innovation",
						"type": "nvarchar"
					},
					{
						"name": "Innovation Order",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "Average Retail Price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CaseUPC",
						"type": "nvarchar"
					},
					{
						"name": "ItemUPC",
						"type": "nvarchar"
					},
					{
						"name": "Champion SKU",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_monsterdb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "authorization"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monster_callpoints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Callpoint ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Regional Callpoint",
						"type": "nvarchar"
					},
					{
						"name": "National Callpoint",
						"type": "nvarchar"
					},
					{
						"name": "Callpoint Type",
						"type": "nvarchar"
					},
					{
						"name": "Account Manager",
						"type": "nvarchar"
					},
					{
						"name": "Account Director",
						"type": "nvarchar"
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "VP",
						"type": "nvarchar"
					},
					{
						"name": "Format",
						"type": "nvarchar"
					},
					{
						"name": "AM Email",
						"type": "nvarchar"
					},
					{
						"name": "Subchannel",
						"type": "nvarchar"
					},
					{
						"name": "CCO",
						"type": "nvarchar"
					},
					{
						"name": "CMM",
						"type": "nvarchar"
					},
					{
						"name": "Pricing Rep",
						"type": "nvarchar"
					},
					{
						"name": "Data Rep",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Callpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monster_cleansedaccounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "VIPID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Account Name",
						"type": "nvarchar"
					},
					{
						"name": "Legal Name",
						"type": "nvarchar"
					},
					{
						"name": "Street Address",
						"type": "nvarchar"
					},
					{
						"name": "Address Line 2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Zip",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "FIPS",
						"type": "nvarchar"
					},
					{
						"name": "MSA",
						"type": "nvarchar"
					},
					{
						"name": "County",
						"type": "nvarchar"
					},
					{
						"name": "MaltBev",
						"type": "nvarchar"
					},
					{
						"name": "WineBev",
						"type": "nvarchar"
					},
					{
						"name": "SpritsBev",
						"type": "nvarchar"
					},
					{
						"name": "Class of Trade",
						"type": "nvarchar"
					},
					{
						"name": "Sub Class of Trade",
						"type": "nvarchar"
					},
					{
						"name": "Lat",
						"type": "nvarchar"
					},
					{
						"name": "Lon",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "StoreID",
						"type": "nvarchar"
					},
					{
						"name": "StoreStatus",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Cleansed Accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monster_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "Year Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "Quarter Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Quarter",
						"type": "nvarchar"
					},
					{
						"name": "Month Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "Week Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Weekday Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Weekday",
						"type": "nvarchar"
					},
					{
						"name": "Day Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Day",
						"type": "nvarchar"
					},
					{
						"name": "Year Month Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year Month",
						"type": "nvarchar"
					},
					{
						"name": "Year Quarter Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Year Quarter",
						"type": "nvarchar"
					},
					{
						"name": "IsPast",
						"type": "bit"
					},
					{
						"name": "Last Complete Day of Sales",
						"type": "bit"
					},
					{
						"name": "IsPast2018",
						"type": "bit"
					},
					{
						"name": "Is Weekday",
						"type": "bit"
					},
					{
						"name": "Date diff LCD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Week Ending",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "Month Ending",
						"type": "datetime2",
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Date"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monster_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Item Name",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Package Size",
						"type": "nvarchar"
					},
					{
						"name": "Brand Group",
						"type": "nvarchar"
					},
					{
						"name": "Brand Category",
						"type": "nvarchar"
					},
					{
						"name": "Package Group",
						"type": "nvarchar"
					},
					{
						"name": "Distributor Item Code",
						"type": "nvarchar"
					},
					{
						"name": "Distributor Description",
						"type": "nvarchar"
					},
					{
						"name": "ItemStatus",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Cat5",
						"type": "nvarchar"
					},
					{
						"name": "ProfitCenter",
						"type": "nvarchar"
					},
					{
						"name": "Active",
						"type": "nvarchar"
					},
					{
						"name": "Bottler Front Line Price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Innovation",
						"type": "nvarchar"
					},
					{
						"name": "Innovation Order",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ItemCode",
						"type": "nvarchar"
					},
					{
						"name": "Average Retail Price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CaseUPC",
						"type": "nvarchar"
					},
					{
						"name": "ItemUPC",
						"type": "nvarchar"
					},
					{
						"name": "Champion SKU",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monster_vipdatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vipdataset_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "Bottlers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vipdataset_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ab_depletion_fact_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ab_monstersqlservera_MonsterData_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Servicing Distributor ID",
						"type": "varchar"
					},
					{
						"name": "Callpoint ID",
						"type": "varchar"
					},
					{
						"name": "Invoice Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Cases",
						"type": "decimal",
						"precision": 38,
						"scale": 12
					},
					{
						"name": "Did Buys",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dateRange",
						"type": "varchar"
					},
					{
						"name": "Run_ID",
						"type": "nvarchar"
					},
					{
						"name": "DtCreated",
						"type": "nvarchar"
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ab_datEng",
					"table": "vip_depletion_fact_load"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ab_monstersqlservera_MonsterData_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_dynamic_monster_to_ab')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loop_tablenames",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_all_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_all_tables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "cd_dynamic_monster_to_ab",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().Table_Name}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "monster_vipdatabase",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ab_monsterdb",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "get_all_tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "   SELECT QUOTENAME(table_Schema)+'.'+QUOTENAME(TABLE_NAME) AS Table_Name\n   FROM information_Schema.tables where TABLE_SCHEMA = 'ab_datEng'  and table_name != '[ab_datEng].[vip_depletion_fact_load]'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "monster_vipdatabase",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/monster_vipdatabase')]",
				"[concat(variables('factoryId'), '/datasets/ab_monsterdb')]"
			]
		}
	]
}